In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
train = pd.read_csv('data/train.csv', parse_dates=['first_day_of_month'])
census = pd.read_csv('data/census_starter.csv')

In [6]:
train.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

Let's separate the `first_day_of_month` column into month and year to make it easier to filter through the dataframe

In [8]:
# Adding month and year columns
train['month'] = train['first_day_of_month'].dt.month
train['year'] = train['first_day_of_month'].dt.year

# Removing first_day_of_month column
train.drop(['first_day_of_month'], axis=1, inplace=True)
train.head()

,row_id,cfips,county,state,microbusiness_density,active,month,year
0,1001_2019-08-01,1001,Autauga County,Alabama,3.007682,1249,8,2019
1,1001_2019-09-01,1001,Autauga County,Alabama,2.884870,1198,9,2019
2,1001_2019-10-01,1001,Autauga County,Alabama,3.055843,1269,10,2019
3,1001_2019-11-01,1001,Autauga County,Alabama,2.993233,1243,11,2019
4,1001_2019-12-01,1001,Autauga County,Alabama,2.993233,1243,12,2019

In [7]:
census.head()

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
0,76.6,78.9,80.6,82.7,85.5,1001,14.5,15.9,16.1,16.7,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1,74.5,78.1,81.8,85.1,87.9,1003,20.4,20.7,21.0,20.2,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
2,57.2,60.4,60.5,64.6,64.6,1005,7.6,7.8,7.6,7.3,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0
3,62.0,66.1,69.2,76.1,74.6,1007,8.1,7.6,6.5,7.4,...,1.2,1.4,1.6,1.7,2.1,43404,45340.0,47542,51721.0,54277.0
4,65.8,68.5,73.0,79.6,81.0,1009,8.7,8.1,8.6,8.9,...,1.3,1.4,0.9,1.1,0.9,47412,48695.0,49358,48922.0,52830.0

In [9]:
train[train['year'] == 2022]

,row_id,cfips,county,state,microbusiness_density,active,month,year
29,1001_2022-01-01,1001,Autauga County,Alabama,3.296781,1401,1,2022
30,1001_2022-02-01,1001,Autauga County,Alabama,3.334431,1417,2,2022
31,1001_2022-03-01,1001,Autauga County,Alabama,3.336785,1418,3,2022
32,1001_2022-04-01,1001,Autauga County,Alabama,3.372082,1433,4,2022
33,1001_2022-05-01,1001,Autauga County,Alabama,3.313253,1408,5,2022
...,...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,1.803249,101,6,2022
122261,56045_2022-07-01,56045,Weston County,Wyoming,1.803249,101,7,2022
122262,56045_2022-08-01,56045,Weston County,Wyoming,1.785395,100,8,2022
122263,56045_2022-09-01,56045,Weston County,Wyoming,1.785395,100,9,2022
122264,56045_2022-10-01,56045,Weston County,Wyoming,1.785395,100,10,2022